*{
    margin: 0;
    padding: 0;
    border: 0;
}
.buttons{
    display: grid;
    grid-template-rows: repeat(7, 120px);
    grid-template-columns: 200px;
    align-items: center;
    justify-items: center;
}
.button-style{
    width: 150px;
    height: 50px;
    box-shadow: 0px 0px 0px 3px grey;
    font-size: 16px;
    
}
.button1{
    border-radius: 100px;
    background-color: rgb(92, 92, 219);
    box-shadow: 0px 0px 0px 3px rgb(138, 138, 252);
    color: white;
    font-weight: bold;
    display: inline-block;
    transition: all 0.3s;
}
.button1:hover{
    box-shadow: 0px 0px 0px 5px rgb(138, 138, 252);
}
.button2{
    border-radius: 100px;
    background-color: rgb(67, 153, 67);
    box-shadow: 0px 0px 0px 3px rgb(139, 235, 139);
    color: rgb(139, 235, 139);
    font-weight: bold;
    transition: all 0.3s;
}
.button2:hover{
    background-color: white;
    box-shadow: 0px 0px 0px 3px rgb(67, 153, 67);
    color: rgb(67, 153, 67);
}
.button3{
    width: 155px;
    background-color: white;
    font-weight: bold;
    box-shadow: 0px 0px 0px 3px rgb(216, 216, 216);
    transition: all 0.3s;
}
.button3:hover{
    background-color: black;
    color: white;
    border-radius: 18px;
    box-shadow: 0px 0px 0px 3px black;
}
.button__wrapper{
    display: block;
    overflow: hidden;
    width: 145px;
}
.button4{
    position: relative;
    margin-left: 0;
    box-shadow: none;
    background-color: rgb(0, 153, 255);
    transform: translateX(0);
    color: white;
    transition: all 0.5s;
}
.button4::before{
    content: attr(data-text);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    box-shadow: none;
    background-color: rgb(158, 216, 255);
    transform: translateX(0);
    right: -145px;
    top: 0;
    color: rgb(0, 153, 255);
    transition: all 0.5s;
}
.button__wrapper:hover .button4::before,
.button__wrapper:focus .button4::before{
    transform: translateX(-145px);
    color: rgb(0, 153, 255);
}

.button5{
    position: relative;
    display: block;
    overflow: hidden;
    text-transform: uppercase;
    width: 130px;
    height: 65px;
    margin-left: 25px;
    background-color: white;
    color: blueviolet;
    box-shadow: none;
    border: 3px solid blueviolet;
    border-right: 0px;
    border-left: 0px;
    transition: all 0.3s;
    z-index: 1;
}
.button5::after{
    content: "";
    width: 130px;
    height: 65px;
    position: absolute;
    display: block;
    bottom: 0px;
    background-color: brown;
    transform: scaleY(0);
    opacity: 0.3;
    transition: transform 0.3s
}
.button5:hover::after,
.button5:focus::after{
    transform: scaleY(1);
}
.button6{
    width: 170px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: white;
    margin-left: 25px;
    transition: all 0.5s;
}
.button6 .text{
    margin-left: 25px;
    width: 100px;
}
.button6:hover .text{
    margin-left: 10px;
}
.button6 .text::after{
    content: '\21A3';
    position: relative;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    margin-left: 10px;
}
button:hover .text::after{
    content: '\21A3';
    position: relative;
    opacity: 1;
    top: 0;
    right: 0px;
}
/*
.button7{
    margin-left: 25px;
    position: relative;
    background-color: white;
    font-weight:bold;
    box-shadow: none;
    border-bottom: 5px solid rgb(209, 209, 5);
    transition: background-color 0.5s;
    z-index: -1;
}
.button7::after{
    content: "";
    position: absolute;
    height: 50px;
    width: 150px;
    background-color: rgb(209, 209, 5);
    transform-origin: bottom;
    transform: scaleY(0);
    bottom: 0; 
    left: 0;
    z-index: -10;
    transition: all 0.5s;
}
.button7:hover::after,
.button7:focus::after{
    background-color: yellow;
    transform: scaleY(1);
}*/
.text1{
    z-index: 10;
}
.button7{
    position: relative;
    display: block;
    overflow: hidden;
    text-transform: uppercase;
    z-index: -1;
    width: 150px;
    height: 50px;
    margin-left: 25px;
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: none;
    border-bottom: 3px solid rgb(209, 209, 5);
    border-right: 0px;
    border-left: 0px;
    transition: all 0.3s;
    z-index: 1;
}
.button7::after{
    content: "";
    width: 150px;
    height: 50px;
    position: absolute;
    display: block;
    transform-origin: bottom;
    bottom: 0px;
    background-color: rgb(209, 209, 5);
    transform: scaleY(0);
    transition: transform 0.3s;
    z-index: -10;
}
.button7:hover .text1,
.button7:focus .text1{
    color: white;
}
.button7:hover::after,
.button7:focus::after{
    transform: scaleY(1);
}